.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 100px auto;
  width: 557px;
}

h1 {
  font-size: 100px;
}

p {
  font-size: 18px;
  text-align: center;
}

.buttons {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  row-gap: 10px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 85px 36px;
}
